a:link {
  color:green;
  background-color:transparent;
  text-decoration:none;
}
a:visited{
  color:pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover{
  color:red;
  background-color: transparent;
  text-decoration: underline;
}

a:active{
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 3px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd){
  background-color: white;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  magin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right = 0;
  border-radius: 3px 0 0 3px;
}
